<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cdn/css/bootstrap.min.css">
</head>

<body class="bg-dark text-secondary">
    <h1 class="display-1 position-relative text-secondary text-center">welcome to wordie</h1>
    <h3 class="display-8 position-relative text-white text-center">enter your username below</h3>
    <form action="api/database" method="post">
        <div class="d-grid gap-5 p-4 col-4 mx-auto">
            <input type="text" id="user" name="user" placeholder="username"/>
        </div>
        <div class="d-grid gap-5 p-4 col-4 mx-auto">
            <button class="btn btn-dark btn-block btn-lg rounded-pill border border-3 border-secondary" type="Submit" id="enter">enter</button>
        </div>
    </form>
</body>

</html>