<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cdn/css/bootstrap.min.css">
</head>

<body>
    <h1>Welcome to Wordie!</h1>
    <h3>Please enter your username below</h3>
    <form action="/">
        <div>
            <input type="text" id="user" placeholder="Username"/>
        </div>
        <div>
            <button class="btn btn-primary" type="Submit" id="enter">Enter</button>
        </div>
    </form>
    <script src="/cdn/scripts/login.js"></script>
</body>

</html>