<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rule Page</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>How To Play</h1>
        <div>
        <h2>Single Player</h2>
        <p> -The goal of wordie is to guess the correct 5-letter word.
            <br>
            -The user will have 6 chances to guess the word.
            <br>
            -Type in the word on your keyboard or use the one onscreen
            <br>
            and hit enter.
            <br
            -When the word is entered the tiles will change colour to show how 
            <br>
            close the word is to the correct one.
            <br>
            -A green tile means the letter is in the word and in the correct position
            <br>
            -A yellow tiles means the letter is in the word but in the wrong position.
        </p>
        </div>
        
        <div>
        <h2>Multiplayer</h2>
        -The rules of playing are the same as single player.
        <br>
        -Multiplayer mode has 2 different options available.
        <br>
        -1)multiple players each guess a random word provided by the computer 
        <br> 
         and the first person to guess the word within the 6 chances will win.
        <br>
        -2)1 player will choose the word to guess and the rest of the players will 
        <br>
        guess the word.This requires atleast 3 players to play.
        </div> 
        <br>
        <div>
        
        </div>
    </body>
</html>