<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Single-Player-mode</title>
      <link rel="stylesheet" href="/cdn/css/bootstrap.min.css">
      
  </head>
  <body>
    <div id="container">

      </div>
    <h1>Single Player Mode</h1>
    <style>
        h1{
            color:blue;
        }
    </style>
  <button type="button" id="startSingleGame">Start Game</button> 
  <script src="/cdn/scripts/single-player.js"></script>
  </body>
</html>