<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mutiplayer Lobby</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cdn/css/bootstrap.min.css">
</head>

<body class="bg-info text-white">
        <div id = "InitialScreen" >
            <div class="container text-center">
                <h1>Multiplayer Game</h1>
            </div>

            <!-- <form action="api/gameCode" method="post"> -->
                <div class="container text-center pb-1">
                    <button id="newGameBtn" name="Createcode" class="btn btn-primary btn-block btn-sm " type="Submit">Create New Game</button>
                </div>
            <!-- </form> -->
            <!-- <div id ="input" class="container text-center pb-1">
                <div>OR</div>
                <input id ="gameCodeInput" type="text" id="user" placeholder="Enter Game Code"/>
            </div>

            <div class="container text-center ">
                <button id ="joinGameBtn" class="btn btn-primary btn-block btn-sm" type="Submit">Join Game</button>
            </div> -->

            <form action="api/userInputCode" method="post">
                <div id ="input" class="container text-center pb-1">
                    <div>OR</div>
                    <input id ="gameCodeInput" name="UserInput" type="text" placeholder="Enter Game Code"/>
                </div>
            
                <div class="container text-center ">
                    <button id ="joinGameBtn" class="btn btn-primary btn-block btn-sm" type="Submit">Join Game</button>
                </div>
            </form>

        </div>   
    <script src="/cdn/scripts/startRoom.js"></script>
</body>

</html>
